
      <div class="form-container form-container--block about">
         <h2 class="form-container__title">Sobre mí</h2>
         <p class="form-container__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam rem doloribus corrupti repudiandae alias ullam cumque ab doloremque quaerat corporis nobis deserunt molestias amet laudantium eaque iure voluptas, quasi sit officia qui vitae! Culpa voluptatibus adipisci aliquam alias, suscipit deleniti veniam quod. Ipsam, minima sint consequatur magnam est exercitationem corrupti facilis iure, vitae nesciunt optio eligendi commodi atque excepturi. Laudantium blanditiis repellat quasi sint expedita excepturi maxime facilis nesciunt? Maiores voluptatibus ut expedita eaque doloribus, possimus corrupti natus est quidem molestias non magni veniam explicabo cupiditate mollitia quasi sapiente aperiam consectetur? Voluptatibus architecto recusandae illum possimus veniam! Quae, qui? Reiciendis.
         </p>
         
      </div>


