<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://kit.fontawesome.com/b1396f0f59.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="css/main.css">
   <title>Juguetería Cósmica</title>
</head>
<body>
   <header class="main-header">
      <div class="main-header__logo-container">
         <img class="main-header__logo-container__img-logo" src="imagenes/img1 (10).png" alt="">
      </div>
      <div class="main-header__search-form-container">
         <div class="main-header__search-form-container__input-container">
            <input class="main-header__search-form-container__input-container__input-search" type="search" name="search" placeholder="search">
            <i class="fa-solid fa-magnifying-glass main-header__search-form-container__input-container__submit"></i>
         </div>
         
  
      </div>
      <div class="main-header__cart-button-container">
         <i class="fa-solid fa-cart-shopping main-header__cart-button-container__cart-icon"></i>
      </div>
      <div id="button-hamburger" class="main-header__hamburger-button-container">
         <label class="hamburger-button" for="main-nav-toggle">
            <span id="br1" class="hamburger-button__top-bread"></span>
            <span id="br2" class="hamburger-button__meat"></span>
            <span id="br3" class="hamburger-button__bottom-bread"></span>
         </label>
      </div>
      <div id="nav" class="main-header__main-nav-container">
         <nav id="nav" class="main-nav">
            <ul class="main-nav__list">
               <li class="main-nav__item">
                  <a href="/home" class="main-nav__link nav-link">
                     Inicio
                  </a>
               </li>
               <li class="main-nav__item">
                  <a href="#" class="main-nav__link">
                     Categorías <span>></span>
                  </a>
                  <ul class="main-nav__item__categories">
                     <li>Lego</li>
                     <li>Bebes Llorones</li>
                     <li>Montables</li>
                     <li>Funko</li>
                     <li>Distroller</li>
                     <li>Paw Patrol</li>
                     <li>Go Jit Zu</li>
                     <li>Magic Mixies</li>
                  </ul>
               </li>
               <li class="main-nav__item">
                  <a href="/alta" class="main-nav__link nav-link">
                     Alta
                  </a>
               </li>
               <li class="main-nav__item">
                  <a href="/contact" class="main-nav__link nav-link">
                     Contacto
                  </a>
               </li>
               <li class="main-nav__item">
                  <a href="/about" class="main-nav__link nav-link">
                     Nosotros
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </header>
   <main class="main">
      <div class="main__ofertas">
         <p>Descuentos de Locura hasta  el 80%*</p>
         <p>!Aprovecha nuestras promociónes¡</p>
         <button class="main__ofertas__button">Comprar Ahora</button>
      </div>
      <div id="main-content">
      {{{body}}}
      </div>
   </main> 
   <footer class="main-footer">
      <div class="main-footer__social-network">
         <p>Siguenos</p>
         <ul>
            <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
         </ul>
      </div>
      <ul class="main-footer__listFooter">
         <li>© Cosmic Toys</li>
         <li><a href="">Nosotros</a></li>
         <li><a href="">Aviso de Privacidad</a></li>
         <li><a href="">Términos y Condiciones</a></li>
         <li><a href="">Politica de Envios y Devoluciones</a></li>
         
      </ul>
      <ul class="main-footer__listCreador">
         <li>Carlos Cardona</li>
         <li>Proyecto Integrado de Protalento</li>
         <li>Contacto</li>
      </ul>
   </footer>


   <script src="js/navigation.js"></script>
</body>
</html>